/* body{
  background:url('Ernakulam-bg.jpg');
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin:0;
} */
.container{
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  position:absolute;
  background:rgba(0,0,0,0.5);
  box-shadow: 0 0 10px white;
  border-radius: 20px;
  padding: 20px;

}
.form-name{
  color:white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;

}
.field-name-block{
  text-align: right;
  padding-right: 20px;
  width:40%;
  display: inline-block;
}
.feild-name{
  color: white;
  font-size: 20px;
  text-align:center;
  font-weight: bold;
  margin: 10px;

}
.feild-input-block{
  display:inline-block;
}
input{
margin:10px;
padding: 10px;
width: 300px;
border-radius: 20px;
font-size: 20px;
border:none;
outline: none;
text-align: center;
}
.buttons-block{
  text-align: center;
}
.button{
  margin:20px;
  padding: 10px ;
  border:2px solid white;
  background:rgba(255,255,255,0.5);
  color:white;
  outline:none;
  border-radius:20px;
  font-size: 20px;
  width:150px;
}
.button:hover{
  color:black;
  background:white;

}
h3{
  color:white;
  text-align: center;
}
.warning{
  color:red;
  background:white;
  font-size: 20px;
  border-radius: 50%;
}
.warning-hide{
  display:none !important;
  
}
